<!DOCTYPE html>
<html>
<head>
    <title>Aplikasi Railway</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #1e1e1e;
            color: white;
            text-align: center;
            padding-top: 50px;
        }

        .box {
            background: #2c2c2c;
            padding: 30px;
            border-radius: 15px;
            width: 60%;
            margin: auto;
            box-shadow: 0 0 20px rgba(255,255,255,0.1);
        }

        h1 {
            color: #00eaff;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Aplikasi PaaS Sederhana</h1>
        <p>Halo, kami dari kelompok "USER" ingin membuat Website serderhana. Website ini berjalan menggunakan <strong>Flask</strong> dan dideploy melalui <strong>Railway</strong>.</p>
        <p>Ini adalah contoh aplikasi PaaS untuk tugas kuliah Kami.</p>
    </div>
</body>
</html>
